@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	border 0
	margin 0
	padding 0
body
	font-family 'Open Sans', sans-serif
	font-size 100%
	font-weight normal
	height 100%
	
footer
	background #333
	border-bottom solid 7px #057ec2
	height auto
	padding 1em 0 1em 1em
	width auto
	a
		color lightblue
		text-decoration none
	p
		color #FFF
		font-size .8em
		font-weight 100

header
	text-align center
	height auto
	padding 1em 0 0 0
	width 100%
	img
		margin 0 0 1.5em 0
	
nav
	background #000
	color #FFF
	height auto
	padding 1em 0 1em 0
	width 100%
	.Contenedor_menu
		margin 0 auto
		max-width 1100px
		width 100%
		ul li
			display inline-block
			font-size .9em
			list-style none
			a
				background #b22c24
				border-radius 3px
				color #FFF
				padding .3em .5em .3em .5em
				margin 0 .5em 0 .5em
				text-decoration none	
			a:hover
				background #057ec2
			

.Descripcion
	background green
	height auto
	margin 0 auto
	margin-bottom 1.5em
	max-width 1100px
	width 100%
	

.Preheader
	color #057ec2
	height auto
	padding .5em 0 .5em .5em
	width auto
	h2
		font-size .9em
	
	

.Tapa_delMes
	background #ece9e9
	height auto
	margin 0 0 1em 0
	width 100%
	.Contenedor_tapa
		margin 0 auto
		max-width 1100px
		width 100%
		.col_tapa1
			display inline-block
			text-align center
			vertical-align top
			width 50%
		.col_tapa2
			background padding-right 
			display inline-block
			padding 1em 0 1em 0
			vertical-align top
			width 45%
			a
				color #FFF
				background #b22c24
				border-radius 3px
				-webkit-border-radius 3px
				-moz-border-radius 3px
				-o-border-radius 3px
				-ms-border-radius 3px
				border-bottom 5px solid #134e85
				padding .8em 1em .5em 1em
				text-decoration none
			a:hover
				opacity 0.8
			h2
				color #b22c24
				font-weight 400
				margin 1em 0 .3em 0
			p
				color #333
				font-size .9em
				line-height 25px 
				margin 0 0 1em 0
			q
				color grey
				font-style italic
				line-height 26px
			
	


.Tapas
	height auto
	margin 0 0 1.5em 0
	text-align center
	width 100%
	.Tapa1
		display inline-block
		height auto
		margin-bottom 2em
		vertical-align top
		width 20%
		a
			color #FFF
			background #057ec2
			border-radius 3px
			border-bottom 5px solid #134e85
			font-size .9em
			-webkit-border-radius 3px
			-moz-border-radius 3px
			-o-border-radius 3px
			-ms-border-radius 3px
			padding .7em .7em .5em .7em
			text-decoration none
		a:hover
			color #FFF
			background #134e85
			border-bottom 5px solid #057ec2
		h2
			color #222
			font-size 1em
			font-weight 400
			margin .3em 0 1em 0 
		.Emboltorio
			margin 0 0 3em 0
			img
				&:hover
					opacity 0.7	
	.Tapa2
		display inline-block
		height auto
		margin-bottom 2em
		vertical-align top
		width 20%
		a
			color #FFF
			background #057ec2
			border-radius 3px
			border-bottom 5px solid #134e85
			font-size .9em
			-webkit-border-radius 3px
			-moz-border-radius 3px
			-o-border-radius 3px
			-ms-border-radius 3px
			padding .7em .7em .5em .7em
			text-decoration none
		a:hover
			color #FFF
			background #134e85
			border-bottom 5px solid #057ec2
		h2
			color #222
			font-size 1em
			font-weight 400
			margin .3em 0 1em 0 
		.Emboltorio
			margin 0 0 3em 0
			img
				&:hover
					opacity 0.7
	.Tapa3
		display inline-block
		height auto
		margin-bottom 2em
		vertical-align top
		width 20%
		a
			color #FFF
			background #057ec2
			border-radius 3px
			border-bottom 5px solid #134e85
			font-size .9em
			-webkit-border-radius 3px
			-moz-border-radius 3px
			-o-border-radius 3px
			-ms-border-radius 3px
			padding .7em .7em .5em .7em
			text-decoration none
		a:hover
			color #FFF
			background #134e85
			border-bottom 5px solid #057ec2
		h2
			color #222
			font-size 1em
			font-weight 400
			margin .3em 0 1em 0 
		.Emboltorio
			margin 0 0 3em 0
			img
				&:hover
					opacity 0.7
	.Tapa4
		display inline-block
		height auto
		margin-bottom 2em
		vertical-align top
		width 20%
		a
			color #FFF
			background #057ec2
			border-radius 3px
			border-bottom 5px solid #134e85
			font-size .9em
			-webkit-border-radius 3px
			-moz-border-radius 3px
			-o-border-radius 3px
			-ms-border-radius 3px
			padding .7em .7em .5em .7em
			text-decoration none
		a:hover
			color #FFF
			background #134e85
			border-bottom 5px solid #057ec2
		h2
			color #222
			font-size 1em
			font-weight 400
			margin .3em 0 1em 0 
		.Emboltorio
			margin 0 0 3em 0
			img
				&:hover
					opacity 0.7
		


.Titulo_logo
	a
		margin 0 0 .5em 0


.Titulo_tapa
	height auto	
	margin 0 auto
	margin-bottom 1em
	max-width 1100px
	width 100%
	h2
		border-bottom solid 1px lightgrey
		color #057ec2
		font-size 3em
		font-weight 100
		margin 0 0 0 .8em
		text-align center


